language: android

android:
  components:
    - build-tools-23.0.2
    - android-23
    - extra

jdk:
  - oraclejdk7
  - oraclejdk8

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.m2
